In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../etc/Community/NORDICAR_MappingKeywords.csv', sep = ';', encoding='ISO-8859-1')
df

,slks,en,askeladden
0,Begravelse,Funerary,Gravminne
1,Bosættelse,Settlement,Bolig/bosetning
2,Diverse anlæg og genstande,Diverse features and objects,Funksjon uspesifisert
3,Transport,Transport,Ferdsel/samferdsel
4,Primær subsistens,Primary subsistence,Landbruk
...,...,...,...
589,Vandingsanlæg,Irrigation,Vannforsyningsanlegg
590,NaN,Water purification,Vannrensingsanlegg
591,Vej,Road,Veganlegg
592,NaN,Road station,Vegstasjon
593,Båd-/skibsværft,Shipyard / Boatyard,Verft

In [4]:
result = df.loc[df.askeladden == 'Kullfremstillingsanlegg']
result

    slks               en               askeladden
533  NaN  Coal production  Kullfremstillingsanlegg

In [6]:
found=result.values[0].tolist()
found

[nan, 'Coal production', 'Kullfremstillingsanlegg']

In [7]:
found[0]

nan

In [8]:
pd.isnull(found[0])

True

In [9]:
pd.isnull(found[1])

False